/* class du catalogue */
.articleBox{
  background-color: #eee;
  border-radius: 8px;
  box-shadow: inset 1px 0 5px 0 rgba(0,0,0,0.2);
  padding: 8px;
}
.articleElm{
  width: 250px;
  height: 305px;
  position: relative;
  display: inline-block;
  margin: 8px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);
}
.imgBox{
  width: 250px;
  height: 200px;
  position: relative;
}
.imgBox img{
  max-width: 250px;
  max-height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.articleNom{
  height: 35px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: black;
}
.articlePrix{
  float: right;
  max-width: 68px;
  min-width: 2px;
  overflow: hidden;
  height: 35px;
  padding: 4px 12px;
  font-size: 18px;
  color: red;
}

/*stars*/
.stars0{
  background: url(../img/stars.png) -176px 2px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars0_5{
  background: url(../img/stars.png) -140px -32px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars1{
  background: url(../img/stars.png) -140px 2px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars1_5{
  background: url(../img/stars.png) -104px -32px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars2{
  background: url(../img/stars.png) -104px 2px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars2_5{
  background: url(../img/stars.png) -68px -32px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars3{
  background: url(../img/stars.png) -68px 2px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars3_5{
  background: url(../img/stars.png) -32px -32px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars4{
  background: url(../img/stars.png) -32px 2px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars4_5{
  background: url(../img/stars.png) 4px -32px;
  background-size: 358px;
  background-repeat: no-repeat;
}
.stars5{
  background: url(../img/stars.png) 4px 2px;
  background-size: 358px;
  background-repeat: no-repeat;
}

nav{
  position: relative;
}

.rectangle{
  position: relative;
  left: 0px;
  /* height: 300px; */
  width: 200px;
}

.rectangle div {
  height: 35px;
  width: 182px;
}

.etplus{
  left: 182px;
  position: absolute;
}

.range{
  height: 100px;
  width: 300px;
}
