<IfModule mod_rewrite.c>
  RewriteEngine on

  #pour gérer l'url de la page produit. passer de l'url par default a la nouvel
  RewriteCond %{QUERY_STRING} ^id=([0-9]*)$
  RewriteRule ^produit\.php$ http://%{HTTP_HOST}/produit/%1 [R=302,L,QSD]

  #pour gérer l'url de la page produit. passer de l'url par default a la nouvel et gestion du &
  RewriteCond %{QUERY_STRING} ^id=([0-9]*)&(.*)$
  RewriteRule ^produit\.php$ http://%{HTTP_HOST}/produit/%1?%2 [R=302,L,QSD]

  #pour gérer l'url de la page catalogue. passer de l'url par default a la nouvel
  RewriteCond %{QUERY_STRING} ^categorie=([^=&]*)&type=([^=&]*)$
  RewriteRule ^catalogue\.php$ http://%{HTTP_HOST}/catalogue/%1/%2 [R=302,L,QSD,QSA]

  #pour gérer l'url de la page catalogue. passer de l'url par default a la nouvel et gestion du &
  RewriteCond %{QUERY_STRING} ^categorie=([^=&]*)&type=([^=&]*)&(.+)$
  RewriteRule ^catalogue\.php$ http://%{HTTP_HOST}/catalogue/%1/%2?%3 [R=302,L,QSD,QSA]

  #pour enlever le .php de toutes les pages. passer de l'url par default a la nouvel
  RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
  RewriteRule ^(.+)\.php$ http://%{HTTP_HOST}/$1 [R=301,L]

  #RewriteRule ^catalogue(.*)$ http://%{HTTP_HOST}/catalogue?test=$1 [R=301,L]

  #pour traduire les url custom en url ver le vrais fichier
  RewriteRule ^([^/.]+)$ $1.php [L]
  RewriteRule ^produit/(.*)$ produit.php?id=$1 [QSA,END]
  RewriteRule ^catalogue/([^/?]+)/([^/?]+)(.+)$ catalogue.php?categorie=$1&type=$2$3 [QSA,END]

</IfModule>
#ErrorDocument 404 /assets/error/404.php
ErrorDocument 500 /assets/error/500.php
