<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://ppe2.ddns.net/assets/img/logoIcon.gif" type="image/gif">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
  </head>
  <body style="background-color:#eeeeee;">
    <div class="alert alert-warning alert-dismissible" style="margin-bottom: 0">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      By using this web site you agree to our Cookies Use.
    </div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Cat_poster_1.jpg/1280px-Cat_poster_1.jpg" alt="logo or name" style="width:40px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {{ log }}
        </ul>
      </div>
    </nav>
    <div style="margin:24px 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Site made with nodejs</h4>
                <p class="card-text">This web site is made with node js and support ajax if js is enable on client side. this web site is avalable if js is not enable, juste somting fesure not work.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Login system with nodejs</h4>
                <p class="card-text">This esperimental web site have login system. This login system use&nbsp;personal session system for store and keep user connexion.&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
