body{
  padding: 0px;
  margin: 0px;
  background-color:#eee;
}
#logoutbtn{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
}
#login{
  top: calc(50% - 54.5px);
  left: calc(50% - 117.5px);
  background-color: #fff;
  display: none;
  text-align: center;
  padding: 2px;
  position: fixed;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 1px 5px 0px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#username{
  height: 30px;
  width: 221px;
  margin: 2px;
  padding-left: 4px;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#password{
  padding-left: 4px;
  height: 30px;
  width: 221px;
  margin: 2px;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn{
  margin: 2px;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
.btn:active {
outline: none;
}
.box{
  max-width: 1000px;
  height: 500px;
  margin: 0px 8px;
  padding: 0px;
  overflow: auto;
  background-color: #e4e4e4;
  box-shadow: inset 1px 0 5px 0 rgba(0,0,0,0.2), inset 1px 0 5px 0 rgba(0,0,0,0.2), inset 1px 0 5px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
}
#path{
  max-width: 984px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  background-color: #e4e4e4;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.2);
  padding: 0px 8px;
  margin: 0px 8px;
}
.icon{
  width:20px;
  height:22px;
  border:0px;
  position: absolute;
  padding: 9px;
}
.elm{
  width: 150px;
  height: 40px;
  margin: 8px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border: solid 1px rgba(0,0,0,0);
  border-radius: 2px;
  display: inline-block;
  position: relative;
}
.elm:hover{
  -webkit-box-shadow: 0 0 0 1px #4285f4, 0 2px 8px 1px rgba(0,0,0,.25);
  box-shadow: 0 0 0 1px #4285f4, 0 2px 8px 1px rgba(0,0,0,.25);
  background: #4285f4;
  border: solid 1px #4285f4;
}
.chit{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  position: absolute;
  z-index: 2;
}
.elm_t{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 40px;
}
.cmenu {
  background: #fff;
  z-index: 2300;
  display: block;
  position: absolute;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  text-decoration: none;
  cursor: default;
  margin-top: -4px;
  min-height: 25px;
  min-width: 100px;
  max-height: 640px;
  cursor:pointer;
}
.elm-menu {
  margin: 8px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #111;
}
.elm-menu:hover {
  background-color: #eee;
}
input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal{
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  height: 200px;
  width: 500px;
  background-color: blue;
  position: fixed;
  text-align: center;
  z-index: 9999;
  display: none;
}
#gre{
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: black;
  z-index: 9999;
  display: none;
}
#gre1{
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  background-color: black;
  z-index: 9998;
}
#property_box{
  width: 150px;
  height: 100px;
  position: absolute;
  z-index: 3;
  border: 1px solid black;
  background-color: #fff;
  display: none;
  padding: 4px;
}
#dl{
  display: none;
}
#notif{
  max-height: 200px;
  right: 20px;
  top: 20px;
  position: fixed;
}
.notif{
  width: 350px;
  border-radius: 8px;
  padding: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-animation-name: animnotif;
  -webkit-animation-duration: 4s;
  animation-name: animnotif;
  animation-duration: 4s;
  opacity: 0;
}
.notif_success{
  background-color: rgba(0, 204, 0, 0.8);
  border: 1px solid rgba(0, 214, 0, 1);
  color: rgb(0, 128, 0);
  margin: 4px;
}
.notif_error{
  background-color: rgba(204,0,0,0.8);
  border: 1px solid rgba(214, 0, 0, 1);
  color: rgb(102, 0, 0);
  margin: 4px;
}
@-webkit-keyframes animnotif {
  0% {opacity: 0;}
  10% {opacity: 0.8;}
  20% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes animnotif {
  0% {opacity: 0;}
  10% {opacity: 0.8;}
  20% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
#submodal{
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 400px);
  z-index: 9999;
  background-color: #666;
  width: 800px;
  height: 500px;
  overflow: auto;
}
#openimg{
  border: none;
  z-index: 9999;
}
#zoom{
  position: fixed;
  top: calc(50% + 250px);
  left: calc(50% - 200px);
  z-index: 9999;
  display: -webkit-box;
}
#dli{
  position: fixed;
  top:  50%;
  left: calc(50% + 400px);
  z-index: 9999;
  display: -webkit-box;
  cursor:pointer;
}
#dli:hover{
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.btnz{
  margin: 4px;
  background-color: white;
  cursor:pointer;
  border-radius: 8px;
}
.btnz:hover{
  background-color: #ddd;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
h2{
  top: 8px;
  right: 18px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  margin: 0px;
  padding: 0px;
}
#save{
  position: fixed;
  top: calc(50% + 250px);
  left: calc(50%);
  z-index: 9999;
  display: -webkit-box;
  cursor:pointer;
  margin: 4px;
  background-color: white;
  border-radius: 8px;
}
#save:hover{
  background-color: #ddd;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
